<!-- <div class="forecast">
	<div class="forecast-today">
		{{ weatherData.daily[0].weather[0].icon }}
	</div>
	<div class="forecast-two">
		{{ weatherData.daily[1].weather[0].icon }}
	</div>
	<div class="forecast-three">
		{{ weatherData.daily[2].weather[0].icon }}
	</div>
	<div class="forecast-four">
		{{ weatherData.daily[3].weather[0].icon }}
	</div>
	<div class="forecast-five">
		{{ weatherData.daily[4].weather[0].icon }}
	</div>
	<div class="forecast-six">
		{{ weatherData.daily[5].weather[0].icon }}
	</div>
	<div class="forecast-seven">
		{{ weatherData.daily[6].weather[0].icon }}
	</div>
	<div class="forecast-eight">
		{{ weatherData.daily[7].weather[0].icon }}
	</div>
</div> -->