:host {
	--red-to-pink-to-purple-vertical-gradient: linear-gradient(
		180deg,
		var(--orange-red) 0%,
		var(--vivid-pink) 50%,
		var(--electric-violet) 100%
	);

	--red-to-pink-to-purple-horizontal-gradient: linear-gradient(
		90deg,
		var(--orange-red) 0%,
		var(--vivid-pink) 50%,
		var(--electric-violet) 100%
	);
}

.divider {
	width: 1px;
	background: var(--red-to-pink-to-purple-vertical-gradient);
	margin-inline: 0.5rem;
}

@media screen and (max-width: 650px) {
	.divider {
		height: 1px;
		width: 100%;
		background: var(--red-to-pink-to-purple-horizontal-gradient);
		margin-block: 1.5rem;
	}
}


main {
	background: rgb(3,69,144);
	background: -moz-linear-gradient(195deg, rgba(3,69,144,1) 0%, rgba(0,234,255,1) 100%);
	background: -webkit-linear-gradient(195deg, rgba(3,69,144,1) 0%, rgba(0,234,255,1) 100%);
	background: linear-gradient(195deg, rgba(3,69,144,1) 0%, rgba(0,234,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#034590",endColorstr="#00eaff",GradientType=1);
	min-height: 100vh;
}