<main class="container">
  <div class="row">
		<div class="col-md-6">
			<h3 class="text-center my-4">Search for Weather:</h3>
			<form>
				<label for="cityInput">Enter City:</label>
				<input type="text" id="cityInput" name="cityName" [(ngModel)]="cityName" placeholder="New York">
				<button (click)="getWeather()">Get Weather</button>
			</form>
		</div>
		<!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
		<div class="col-md-6">
			<h3 class="text-center my-4">Weather Details:</h3>
			@if(weatherData) {
				<div>
					<h2>Current Weather in {{ weatherData.name }}</h2>
					<p>Temperature: {{ weatherData.main.temp }}°C</p>
					<p>Humidity: {{ weatherData.main.humidity }}%</p>
					<p>Weather: {{ weatherData.weather[0].description }}</p>
				</div>
			}
		</div>
  </div>
</main>

<router-outlet />
